<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="estils.css">
        <!-- Fuente: Vend Sans -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
        <title>Informe</title>
    </head>
    <body>
        {{> header}}
        <div>
            <ul>
                {{#each cities}}
                    <li>
                        {{name}}
                        {{lookup ../countries country}}
                        <span>
                            {{#if population}}
                                {{population}} habitantes
                            {{else}}
                                No existe población
                            {{/if}}
                        </span>
                        <span>
                            {{#if coastal}}
                                🌊 Costanera
                            {{else}}
                                Interior
                            {{/if}}
                        </span>
                        <span>
                            {{#if (lte population 800000)}}
                                Petita
                            {{else}}
                                Gran
                            {{/if}}
                        </span>
                    </li>
                {{/each}}
            </ul>
        </div>
    </body>
</html>