<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="estils.css">
        <!-- Fuente: Vend Sans -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
        <title>Informe</title>
    </head>
    <body>
        {{> header}}
        <div class="contenido">
            <div>
                <h1>{{common.title}}</h1>
                <ul>
                    {{#each cities}}
                        <li>
                            <strong>{{name}}</strong>
                            {{lookup ../countries country}}
                            {{#if population}}
                                <span class="spanverde">{{population}} habitantes</span>
                            {{else}}
                                <span class="spanrojo">No existe población</span>
                            {{/if}}
                            {{#if coastal}}
                                <span class="spancoastal">🌊 Costanera</span>
                            {{else}}
                                <span class="spaninterior">Interior</span>
                            {{/if}}
                            {{#if (lte population 800000)}}
                                <span class="spanpetita">Petita</span>
                            {{else}}
                                <span class="spangran">Gran</span>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </body>
</html>